$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

#login_form {
  width: 360px;
  margin: 40px auto;
}
.login_completed {
	min-height:400px;
	padding: 20px 0;
	text-align: center;
}
